nav {
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding: 50px 0;
	box-shadow: 0px 5px 0px #dedede;
  }
 
  nav ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #aaa;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
  }
  .nav-item:hover{
	color:white;
  background-color: #22419c;
  border-radius: 5%;
}
  
.col{
  color: black;
}
.col:hover{
  color: white;
}


.btn-success{
    margin-left: 90%;
      } 
      .btn-success:hover {
        background-color:rgb(75, 75, 214);
    
    }
    

    .intro{
        background-color: #e4e8f3;
       
      
        
           } 
    
           .intoh{font-family: 'Oswald', sans-serif !important;
            font-weight: 200;
            font-size: 66px;
            padding: 0;
            margin-left: 10%;
            margin-top: 30%;
            
            }

            .introimg img{
             
             width: 100%;
height: 450px;
object-fit: cover;
            }

            .inlab{
                margin-left: 9%;
                color: #666666;
            }










            *{
                box-sizing: border-box;
              }
              
              .cardss {
                width: 160%;
                display: flex;
                display: -webkit-flex;
                justify-content: center;
                margin-top: 5%;
                margin-left: 9%;
                margin-bottom: 5%;
                -webkit-justify-content: center;
                max-width: 1600px;
              -webkit-align-items: center;
              align-items: center;
             
                
              }
              
              .cardes--1 .cardes__img, .cardes--1 .cardes__img--hover {
                  background-image: url('img/WhatsApp-Image-2023-12-12-at-09.29.30_a0acc4dd.jpg');
              }
              
              .cardes--2 .cardes__img, .cardes--2 .cardes__img--hover {
                  background-image: url('img/WhatsApp-Image-2023-12-12-at-09.28.25_3599d4a5.jpg');
              }
              
              .cardes--3 .cardes__img, .cardes--3 .cardes__img--hover {
                  background-image: url('img/WhatsApp-Image-2023-12-12-at-09.29.12_147e99e8.jpg');
              }
              
              .cardes--4 .cardes__img, .cardes--4 .cardes__img--hover {
                  background-image: url('img/WhatsApp-Image-2023-12-12-at-09.28.39_b763fe45.jpg');
              }
             
              
            
           
              .cardes__img {
                visibility: hidden;
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 100%;
                  height: 235px;
                border-top-left-radius: 12px;
              border-top-right-radius: 12px;
                
              }
              
              .cardes__info-hover {
                  position: absolute;
                  padding: 16px;
                width: 100%;
                opacity: 0;
                top: 0;
              }
              
              .cardes__img--hover {
                transition: 0.2s all ease-out;
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 100%;
                position: absolute;
                  height: 235px;
                border-top-left-radius: 12px;
              border-top-right-radius: 12px;
              top: 0;
                
              }
              .cardes {
                margin-right: 25px;
                transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
                background-color:rgb(105, 105, 228);
                  width: 39.3%;
                position: relative;
                border-radius: 12px;
                overflow: hidden;
                box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
              }
              .cardes:hover {
                box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
                  transform: scale(1.10, 1.10);
              }
              
              .cardes__info {
              z-index: 2;
                background-color:rgb(212, 212, 212);
                border-bottom-left-radius: 12px;
              border-bottom-right-radius: 12px;
                 padding: 16px 24px 24px 24px;
              }
              
              .cardes__category {
                  font-family: 'Raleway', sans-serif;
                  text-transform: uppercase;
                  font-size: 13px;
                  letter-spacing: 2px;
                  font-weight: 500;
                color: #868686;
              }
              
              .cardes__title {
                  margin-top: 5px;
                  margin-bottom: 10px;
                  font-family: 'Roboto Slab', serif;
                  font-size: 20px;
              }
              
              
              
              
              .cardes:hover .cardes__img--hover {
                  height: 100%;
                  opacity: 0.3;
              }
              
              .cardes:hover .cardes__info {
                  background-color: #85ba32;
                  position: relative;
              }
              
              .cardes:hover .cardes__info-hover {
                  opacity: 1;
              }
              
              
            




















            .green{
                background-color: #85ba32;
              }
              
              
              .button7 { 
                background-color:rgb(15, 2, 2); 
                color: #ffffff; 
                border-radius: 15px; 
                width: 140px;
                height: 40px;
              
              } 
              
              .button7:hover{
              background-color: rgb(33, 202, 33);
              }
              
              
              .foot{
                background-color: #e4e8f3;
                margin-top: 40px;
              
              }
              
              
              .mrllogo img{
                width: 100%;
                
              }
              
              .menu {
                color: #666666;
              }
              
              
              
              
              
              
              
              /* social media */
              
              
              .svg-inline--fa {
                vertical-align: -0.200em;
              }
              
              .rounded-social-buttons {
                text-align: center;
              }
              
              .rounded-social-buttons .social-button {
                display: inline-block;
                position: relative;
                cursor: pointer;
                width: 2.125rem;
                height: 2.125rem;
                border: 0.125rem solid transparent;
                padding: 0;
                text-decoration: none;
                text-align: center;
                color: #fefefe;
                font-size: 1.5625rem;
                font-weight: normal;
                line-height: 0em;
                border-radius: 1.6875rem;
                transition: all 0.5s ease;
                margin-right: 0.25rem;
                margin-bottom: 0.25rem;
              }
              
              .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
                -webkit-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                        transform: rotate(360deg);
              }
              
              .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
                font-size: 35px;
              }
              
              .rounded-social-buttons .social-button.facebook {
                background: #3b5998;
              }
              
              .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
                color: #3b5998;
                background: #fefefe;
                border-color: #3b5998;
              }
              
              .rounded-social-buttons .social-button.twitter {
                background: #55acee;
              }
              
              .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
                color: #55acee;
                background: #fefefe;
                border-color: #55acee;
              }
              
              .rounded-social-buttons .social-button.linkedin {
                background: #007bb5;
              }
              
              .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
                color: #007bb5;
                background: #fefefe;
                border-color: #007bb5;
              }
              
              .rounded-social-buttons .social-button.youtube {
                background: #bb0000;
              }
              
              .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
                color: #bb0000;
                background: #fefefe;
                border-color: #bb0000;
              }
              
              .rounded-social-buttons .social-button.instagram {
                background: #125688;
              }
              
              .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
                color: #125688;
                background: #fefefe;
                border-color: #125688;
              }
              
              
              
              
              .rigths{
                background: #d9dde9;
              }
