
.first{
    background-image: url(img/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;

}
.second{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    
   
  
   
}


.logo h3{
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(255, 251, 251);
     margin-left: 50px;
     font-weight: 900;
  
}
.zero{
    color:black;
    text-align: center;
    font-family: 'Fraunces', serif;
    line-height: 1;
    background-color : white;
    border-radius: 20px;
    padding: 13px 20px;
    font-size: 12px;
}

 .zero:hover {
    color: black;
    background-color: hsl(240, 53%, 63%);
}

   
.two h1{
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 1000;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-bottom: 10vh;
    text-align: center;
   margin-top: 12%;
}

.section img{ 
    width: 100%;
    height: 100%;
  
}

.section1 img{ 
    width: 100%;
    height: 100%;

}

.section4 img{ 
    width: 100%;
    height: 100%;

}

.section5 img{ 
    width: 100%;
    height: 100%;
    
}
.section6 { 
    margin-left: 60%;
    
}

.eight h1{
    font-size: 46px;
    color: #23303B;
    margin-bottom: 30px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    
    
}
.eight p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #86858B;
    margin-bottom: 25px;
}
.box{
margin-top: 50%;


}

.nospace>[class*='col-']
{
    padding-right: 0px;
    padding-left: 0px;
}

.section2 h1{
    font-size: 46px;
    color: #23303B;
    margin-bottom: 30px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
 
.section2 p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #86858B;
    margin-bottom: 25px; 
}

.client{
    color: #A4A7A9;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    margin-bottom: 8vh;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
}

 .boat img{
    width: 100%;
    margin-top: 100px;
 }

.men{
    background-color: #90D4C5;;
}

.card{
    border: none !important;
}

.men a:hover {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
   
}
.men a{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #86858B;
  
}
 